---

language: node_js

node_js:
  - 10.17.0

sudo: required

services:
  - docker

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-5-dev

install:
  - npm install -g @elementaryos/houston

script:
  - houston ci
    --type system-app
    --name-domain com.github.alcadica.develop
    --name-human Develop

